@model Employee
@{
    ViewData["Title"] = Model.FirstName;
}
  <a class="btn btn-primary" href="/employee/index"> Back to Employee List</a>
<h2>Are you sure want to delete following info?</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item">FirstName: @Model.FirstName</li>
  <li class="list-group-item">LastName: @Model.LastName</li>
  <li class="list-group-item">Address: @Model.Address</li>
  <li class="list-group-item">Age: @Model.Age</li>
  <li class="list-group-item">Salary: @Model.Salary</li>
  <form asp-controller="Employee" asp-action="Delete" method="post">
  <input type="hidden" asp-for="Id"/>
  <button type="submit" class="btn btn-danger">Delete Employee</button>
</form>
</ul>